body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /
    margin: 100px;
    padding: 0;
}

header { 
    background-color:#ec9e70; 
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: rgb(7, 1, 1); 
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline; 
}


.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #050000; /
    border-radius : 4px;
    width: 200px; 
}

.search-container button {
    padding: 10px 15px;
    background-color: #ad4c0b; 
    color: rgb(5, 0, 0); 
    border: none;
    border-radius: 4px;
    cursor: pointer; 
}

.search-container button:hover {
    background-color: #7e3009; 
}

.hero {
    text-align: center;
    padding: 30px;
    background-color:rgb(211, 88, 16); 
}


article {
    padding: 20px;
    margin: 20px 0;
    background-color:rgb(216, 139, 88); 
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.producto {
    text-align: center;
    margin: 20px;
}

.producto img {
    max-width: 100%;
    border-radius: 20px; 
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #b9510b; 
    color: rgb(7, 7, 7); 
}

footer h4 {
    margin-bottom: 10px;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer ul li a {
    color: rgb(5, 5, 5); 
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline; /
}

